<section class="container-nosotros" id="nosotros">
     <h3>NOSOTROS</h3> 
     <div class="quienes-somos">
        <h4>¿Quiénes somos?</h4>
            <p>Somos una empresa dedicada a la venta de indumentaria femenina al por mayor y menor  Hacemos envíos  al interior, ofrecemos excelentes productos a precios competitivos. Nuestras líneas de producto abarcan una amplia variedad de categorías</p>
    </div>
    <div class="politicas">
        <div class="politica">
            <h5>MISIÓN</h5>
            <P>Nuestra misión es diseñar, fabricar y comercializar a nivel nacional nuestra línea de ropa

Haciendo llegar a nuestros clientes nuestros productos, a precios cómodos que cumplan con sus necesidades y exigencias en el menor tiempo posible

abarcando variedades en sus gustos bajo un compromiso en la entrega y avalando una calidad</P>
        </div>
        <div class="politica">
            <h5>Visión</h5>
            <p>Nuestra visión  es conseguir ser una empresa líder y reconocida en la venta de ropa y  lograr que lycracathy  se convierta en una distribuidora  a nivel nacional competitivo  a través de una mejor calidad,  la última tecnología y la innovación continua superando las expectativas de nuestros consumidores con productos de alta calidad y diseño único aplicando precios justos, ofreciendo un servicio confiable</p>
        </div>
        <div class="politica">
            <h5>OBJETIVOS</h5>
            <P>Lograr que nuestra empresa se convierta en una distribuidora  a nivel nacional

Superar las expectativas de nuestros clientes con productos de buena calidad.

Ser reconocida en el mundo de la moda, gracias a la buena calidad de ropa que ofrecemos y a la publicidad.

garantizar una experiencia de compra agradable mientras estén en nuestra tienda</P>
        </div>


    </div>
 </section>
