 <header class="menu-header" id="nav">
    
            <h1 class="logo">Logo</h1>    
        <nav class="nav" >           
            <ul class="nav__list">
                <li class="nav__item">
                    <a routerLink="/" class="nav__link">Inicio</a>
                </li>
                <li class="nav__item container-submenu">
                    <a routerLink="/tienda" class="nav__link submenu-btn">Tienda</a>
                    <ul class="submenu">
                      <li class="nav__item"><a href="" class="nav__link">Hombre</a></li>
                      <li class="nav__item"><a routerLink="" class="nav__link">Mujer</a></li>
                      <li class="nav__item"><a routerLink="" class="nav__link">Niños</a></li>
                    </ul> 
                
                </li>
                <li class="nav__item">
                    <a routerLink="/nosotros" class="nav__link">Nosotros</a>
                </li>
                <li class="nav__item">
                    <a routerLink="/paginas" class="nav__link">Paginas</a>
                </li>
                <li class="nav__item container-submenu">
                    <a routerLink="/miCuenta" class="nav__link submenu-btn">Mi Cuenta</a>
                    <ul class="submenu">
                      <li class="nav__item"><a routerLink="/contacto" class="nav__link">Iniciar Sesión</a></li>
                      <li class="nav__item"><a routerLink="/contacto" class="nav__link">Crear Cuenta</a></li>
                    </ul>
                </li>
            </ul>
        </nav> 
          <div class="menu-header__search">
         
          <input type="search" class="menu-header__input" placeholder="Buscar productos">

          <a href="" class="menu-header__btn"><img src="imagenes/bx-cart.svg.png">Mi carro</a>
          
        </div>

     </header> 
